{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="position-absolute top-50 start-50 translate-middle">
            <section class="col-md-6 offset-md-3">
                <div class="text-center">
                    <i class="bi bi-sign-stop-fill" style="font-size: 4rem;"></i>
                </div>
                <h1 class="display-6 text-center">
                    Acceso denegado
                </h1>
    
            </section>
        </div>
    </div>
</main>

{% endblock %}
