{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Actualizar Tipo de Documento | TRAMITEC{% endblock %}

{% block content %}
    <div class="row">
        <section class="col-md-8 offset-md-2 my-5">
            <h3 class="text-center mb-3">
                <a class="btn btn-sm" href="{% url 'tramitec:doctype_create' %}" title="Regresar" style="background-color: #072e5e;">
                    <i class="bi bi-arrow-left mx-1" style="font-size: 1rem; color: #fff;"></i>
                </a>
                Actualizar Tipo de Documento
            </h3>
            <form method="POST" enctype="multipart/form-data" class="card card-body mb-5" autocomplete="off">
                {% csrf_token %}
                {% comment %} <input type="hidden" id="form-instance-id" data-instance-id="{{ form.instance.dni }}"> {% endcomment %}
                {% crispy form %}
            </form>
        </section>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/search_uppercase.js' %}"></script>
{% endblock %}
