{% load static %}
<div id="footer" class="d-flex align-items-center justify-content-center" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);">
    <div class="logo">
      <a href="https://www.gob.pe/regionapurimac" target="_blank">
        <img src="{% static 'images/gra.png' %}" alt="Gobierno Regional de Apurímac" title="Gobierno Regional de Apurímac" />
      </a>
      <a href="https://drtcapurimac.gob.pe/" target="_blank">
        <img src="{% static 'images/drta.png' %}" alt="Dirección Regional de Transportes y Comunicaciones Apurímac" title="Dirección Regional de Transportes y Comunicaciones Apurímac" />
      </a>
    </div>

    <span class="text-otis">
      <div class="d-flex" style="height: 20px;">
        <div class="vr me-2"></div>
        <span style="font-size: 12px; color: #8d8888;">OTIS 2024 - <span class="year"></span></span>
      </div>
    </span>
</div>