body {
    background-color: #eceef1;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #00488b;
    transition: width 0.35s ease, padding 0.35s ease; 
    padding: 10px 0;
    overflow: hidden; 
}
.sidebar.collapsed {
    padding: 10px 0;
}
.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #fff;
    transition: opacity 0.3s ease;
}
.sidebar.collapsed, .sidebar.collapsed .nav-link {
    width: 60px;
}
.nav{
    height: 100%;
}
.sidebar .description{
    font-size: 14px;
}
.sidebar.collapsed .description {
    display: none;
}
.sidebar .nav-link:hover {
    background-color: #db6917; 
}
.sidebar .sub-menu {
    background-color: #023565;
    padding-left: 3%;
}
.sidebar .nav .box-exit {
    margin-top: auto; 
}
.sidebar .nav-link.btn_exit:hover {
    background-color: #f73f3f; 
}
.sidebar .nav-link.btn_user:hover {
    background-color: transparent; 
}
.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    transition: margin-left 0.35s ease;
}
.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}


/* FOOTER */
#footer {
    height: 70px;
    width: 400px;
    padding: 3px 0;
    color: rgba(0, 0, 0, .7);
    background-color: #eceef1;
    border-radius: 30px 30px 0 0;
}
#footer .logo,
.text-otis {
    margin: 0 5px;
}
#footer .logo {
    display: flex;
}
#footer .logo img {
    height: 45px;
    margin: 0 5px;
}

/* DATATABLE */
.asteriskField {
    display: none;
}
.table>:not(caption)>*>* {
    padding: .3rem .2rem;
    font-size: 13px;
}
.datatable {
    font-size: 13px;
}
.dataTables_info, .paginate_button, .dataTables_length,
.dataTables_paginate {
    font-size: 12px;
}
table.dataTable tbody, table.dataTable tbody td {
    padding: 3px 5px;
}
.dataTables_wrapper .dataTables_filter input:active, input:focus {
    outline: 2px solid #aaa;
}

/* ROUTE TABLE */
.table_route{
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
}
.table_route tr td{
    padding: 2px;
    font-size: 12px;
}
.table_route tbody tr td:first-child{
    font-weight: bold;
}
.table_route tbody tr td:last-child{
    padding-left: 5px;
    text-transform: uppercase;
}